.navbar{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
  padding: 1vw 0vw;
  align-items: center;
}
.navigator{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid gray;
  align-items: center;
  padding: 1vw;
  border-radius: 1vw;
}
.navigator p{
  cursor: pointer;
}