@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
body{
  background-color: black;
  color: white;
  padding: 1vw 5vw;
}
p{
  font-size: 1.1vw;
}
h2{
  font-size: 1.8vw;
}
a{
  color: inherit;
  text-decoration: none;
}
input{
  font-size: 1vw;
}
button{
  font-size: 1vw;
}

